/*body*/

body{
    background-color: #B5E2FA;
    font-family: 'Comfortaa', cursive;
    color: #0fa3b1 ;

}

/*header*/

header{
    z-index:999;
    align-items: center;
    color: #0fa3b1 ;
    position: sticky; 
    top: 0;

}

.navbar {
    background-color: #EDDEA4 !important;

}

.navbar-brand {

    color: #0fa3b1;

}

.nav-link {

    color: #0fa3b1;

}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #0fa3b1;
}


/*banner*/

.banner {
    height: 100vh;
    background: url("../images/Cataratas.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

/*seccions*/

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{

    width: 95%;
    max-width: 600px;
    
}

/*Destinos*/

.row {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 10;
    margin-right: 10;
 
}

.card {
    margin-top: 10;
}
.card-img-top {

    margin-top: 10;
}




/*footer*/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDDEA4;
}

