/*body*/

body{
    background-color: #B5E2FA;
    font-family: 'Comfortaa', cursive;
    color: #0fa3b1 ;
    position: relative;
    padding-bottom: 3em;

}

/*header*/

header{
    z-index:999;
    align-items: center;
    color: #0fa3b1 ;
    position: sticky; 
    top: 0;
}

.navbar {
    background-color: #EDDEA4 !important;
}

.navbar-brand {
    color: #0fa3b1;
}

.nav-link {
    color: #0fa3b1;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #0fa3b1;
}


/*banner*/

.banner {
    height: 100vh;
    background: url("../images/Cataratas.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*seccions*/

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 95%;
    max-width: 600px;
}

/*Galeria*/

div.galeria.row {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
 
}

.card {
    margin-top: 10;
}
.card-img-top {

    margin-top: 10;
}

/*Contacto*/

fieldset {
    min-width: 10;
    padding: 10;
    margin: 10;
}

.row {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
 
}

.imgcontacto {
    height: auto;
    max-width: 100%;
}



/*footer*/

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDDEA4;
    position: absolute;
    bottom: 0;
    width: 100%;
}

