div.destinos.row {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
 
}

.card {
    margin-top: 10;
}
.card-img-top {

    margin-top: 10;
}

.titlecard { 
    font-size: larger;
}