.card {
    margin-top: 11px;
    margin-left: 10;
    margin-right: 10;
    padding-right: 10;
    padding-left: 10;
    
}

.btn-primary {
    --bs-btn-bg:  #0fa3b1;
    --bs-btn-border-color: #0fa3b1;
    --bs-btn-hover-bg: #0a6e77;
    --bs-btn-hover-border-color: #0a6e77;
}